#logo {
  max-width: 210px;
  margin: 70px 47px 0 47px;
}

.navigation {
  background-color: #FFE600;
}

.title {
  color: #2D3277;
  font-family: 'Open Sans', sans-serif;
}

.icon {
  width: 25px;
  margin-left: 26px;
  margin-right: 15px;
  margin-top: 7px;
}

#submit {
  margin-left: 25%;
  margin-top: 10%;
  background-color: #2D3277;
}

#send {
  color: blue;
}

.input-message-box {
  background-color: #D7CCC8;
}

.messages-board {
  margin-bottom: 468px;
}

.message-user {
  text-align: right;
}
