body {
  background-color: #FFF7E8;
}

.navigation {
  background-color: #FFE600;
}

.icon {
  width: 185px;
  margin-left: 20px;
}

.mel {
  margin-top: 185px;
}

.background-mel{
  width: 270px;
}

#submit {
  margin-top: 10%;
  background-color: #2D3277;
}

#send {
  color: blue;
}

.input-message-box {
  background-color: #D7CCC8;
}

.messages-board {
  margin-bottom: 468px;
}

.message-user {
  text-align: right;
}
